{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/stylesabout.css' %}" rel="stylesheet" />
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <img class="mainImg" src="{% static 'assets/img/pokemon_about_1.jpg' %}" alt="About Mahan Mirabadi">
      <div class="allText aboveText">
        <p class="text-blk headingText">
          About Me
        </p>
        <p class="text-blk subHeadingText">
          Hello! I'm Mahan Mirabadi, an aspiring website developer and passionate English teacher based in Tehran, Iran.
        </p>
        <p class="text-blk description">
          I’m deeply invested in the world of web development and constantly working to enhance my skills. My journey in website development is driven by a love for creating functional, user-friendly, and aesthetically pleasing web experiences. You can explore my projects and follow my progress on my <a href="https://github.com/Mahan-Mirabadi" target="_blank">GitHub profile</a>.
          <br><br>
          In addition to my tech pursuits, I am an enthusiastic English teacher. Teaching English allows me to connect with people, share knowledge, and contribute to their learning journeys.
          <br><br>
          Feel free to connect with me at:
          <br>
          **Phone:** 09211669612
          <br>
          **Email:** <a href="mailto:sm.mahan.mirabadi@gmail.com">sm.mahan.mirabadi@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="responsive-container-block Container bottomContainer">
      <img class="mainImg" src="{% static 'assets/img/pokemon_about_2.jpg' %}" alt="Connect with Mahan Mirabadi">
      <div class="allText bottomText">
        <p class="text-blk headingText">
          Get in Touch
        </p>
        <p class="text-blk subHeadingText">
          I’m always excited to explore new opportunities and collaborations, so don’t hesitate to reach out!
        </p>
        <p class="text-blk description">
          If you have any questions or just want to connect, don’t hesitate to drop me a line. I look forward to hearing from you and discussing potential projects or collaborations.
        </p>
      </div>
    </div>
</div>
{% endblock %}
