{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">Pokemon Wiki</h1>
                    <h2 class="masthead-subheading mb-0">Welcome To Our Website</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">About us </a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/pokemon1.jpg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4 custom-title">A Global Phenomenon Spanning Decades</h2>
                            <p>Pokémon debuted in 1996 with the release of Pokémon Red and Green, quickly capturing the imaginations of fans worldwide. Starting as a video game series, it has since expanded into TV shows, movies, trading cards, and toys. Today, Pokémon is one of the most successful entertainment franchises, beloved by fans of all ages.</p>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/pokemon2.jpeg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">A Universe of Iconic Creatures</h2>
                            <p>With over 1,000 different species of Pokémon, the franchise has created a vast world full of unique and lovable creatures. From Pikachu, the franchise's mascot, to legendary Pokémon like Mewtwo and Rayquaza, each one plays a role in the ongoing adventures of Pokémon trainers. Their stories and battles continue to captivate both casual fans and dedicated collectors.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'assets/img/pokemon3.jpg' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">A Cultural Touchstone Across Generations</h2>
                            <p>Pokémon’s influence extends beyond games and shows—it has become a cultural icon. Its impact can be seen in fashion, mobile gaming (with Pokémon GO), and international events like the Pokémon World Championships. The franchise’s legacy spans multiple generations, with both longtime fans and new players continually discovering the joy of catching 'em all.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}