{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/style_register.css' %}" rel="stylesheet" />
<section class="vh-100 bg-image"
  style="background-image: url('{% static 'assets/img/pokemon_background_register.jpg' %}');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <div class="mb-3">
                <form action="{% url 'trainers:trainer_login' %}" method="post" novalidate>
                    {% csrf_token %}
                    {{ form_login.as_p }}
                    </div>

                    <div class="d-flex justify-content-center">
                    <button  type="submit" data-mdb-button-init
                        data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                        class="fw-bold text-body"><u>Login here</u></a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}